@import "/public/css/scss/layout/mixin";
@import "/public/css/scss/layout/colors";
@import "/public/css/scss/layout/theme";
@import "/public/css/scss/layout/forms";

.inno-challenges-wp {
  padding-block-end: 4rem;
  min-height: 100vh;

  .inno-challenges {
    background-color: $lightColorDark;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-block-end: 1.5rem;
    .inno-challenge-img {
      img {
        width: 100%;
        max-width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        object-fit: cover;
      }
    }
    .progress {
      height: 0.25rem;
      border-radius: 0;
      background-color: transparent;
      overflow: visible;
      .progress-bar {
        position: relative;
        overflow: visible;
        height: 0.25rem;
        @include flexBox(flex, row, center, space-between);
        white-space: nowrap;
        span {
          position: absolute;
          top: 50%;
          right: 100%;
          transform: translate(100%, -50%);
          color: $whiteColor;
          font-size: 0.75rem;
          font-weight: 500;
          background-color: inherit;
          padding: 0rem 0.5rem;
          @include border-radius(5rem);
          @include flexBox(flex, row, center, center);
          height: 1.5rem;
        }
        &[class*="inno-not-started"] {
          span {
            transform: translate(0, -50%);
          }
        }
      }
    }
    .inno-challenge-c {
      padding: 1rem;
      .inno-challenge-top {
        margin-block: 1rem;
        @include flexBox(flex, row, center, space-between);
        .inno-challenge-dep,
        .inno-challenge-date {
          @include flexBox(flex, row, center, flex-start);
          gap: 0.5rem;
          font-size: 0.75rem;
          font-weight: 600;
          color: $grayColor;
          i {
            font-size: 1.25rem;
            color: $primaryColorDark;
          }
        }
      }
      .inno-challenge-title {
        font-size: 1.5rem;
        font-weight: 900;
        color: $primaryColorDark;
        margin-block-end: 1rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 2.5rem;
        min-height: 5rem;
        text-align: justify;
      }
      .inno-challenge-description {
        font-size: 0.875rem;
        font-weight: 400;
        color: $grayColor;
        margin-block-end: 2rem;
        text-align: justify;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}
